@using System.Dynamic
@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model List<ExpandoObject>

@section styles
{
    @Styles.Render("~/Content/jquery_ui")
    @Styles.Render("~/Content/lobipanel")
    @Styles.Render("~/Content/panel")
    @Styles.Render("~/Content/jquery_dataTables")
    @Scripts.Render("~/bundles/highcharts")
}

@section scripts
{
    @Scripts.Render("~/bundles/lobipanel")
    @Scripts.Render("~/bundles/panel")
    @Scripts.Render("~/bundles/jquery_dataTables")

    <script>
        @* Call DataTable() func in all of the jquery tables *@
        $(document).ready(function () {
            $('.dataTables').DataTable({
                //help: https://www.datatables.net/manual/options
                "lengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "همه"]]
                //select: true,
                //paging: false
            });
        })
    </script>

}

<br />

<div class="container">
    <ul class="nav nav-pills">
        <li style="font-size: 30px; float: right;">@ViewBag.Title</li>
        <li class="active"><a data-toggle="pill" href="#chart">نمودار</a></li>
        <li><a data-toggle="pill" href="#grid">جدول</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="chart" class="tab-pane fade in active" dir="ltr">
            @*<h3>chart</h3>*@
            <!-- /.data -->
            <br />
            @Html.Action("ReceiptsChart", "Reports")
            <!-- /.data-->
        </div>
        <div id="grid" class="tab-pane fade">
            @*<h3>grid</h3>*@
            <!-- /.data -->
            <br />
            @Html.Action("ReceiptsTable", "Reports")
            <!-- /.data -->
        </div>
    </div>

</div>