@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<TableOption, MultipleStepProgressTabOption>

@Html.MultipleStepProgressTab(Model.Item2)


<h2 dir="rtl">@ViewBag.Title @ViewBag.Serial</h2>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = Model.Item1.Id + "_" + Guid.NewGuid(),
                    Body = Html.TableItem(Model.Item1).ToHtmlString(),
                    Title = "لیست کالاهای انبار",
                    HasDetailLink = false,
                    GlyphIcon = "sort-by-order",
                    HasSettingPanel = false,
                    PanelType = DataStyleType.success
                })
            )
            <!-- /data -->
        </div>

        <br />
        <br />

        @using (Html.BeginForm("CertificationCountingWarehouseDetails", "Warehouse", FormMethod.Post, new { id = "fromGotoCertification" }))
        {
            <input type="hidden" id="serial" name="serial" value="@ViewBag.Serial" />
            <input type="hidden" id="countingRows" name="countingRows" />

            <div class='text-right' style='padding-right: 10px; padding-bottom: 10px;'>
                <a class='btn btn-warning' href="@Url.Action("CountingWarehouse", "Warehouse")">
                    <span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;ویرایش شمارش
                </a>
                <a class='btn btn-success' href="#" onclick='storeFilledValues()'>
                    ثبت بدون بازگشت شمارش انبار&nbsp;<span class='glyphicon glyphicon-circle-arrow-right'></span>
                </a>
            </div>
        }
    </div>
</div>