@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<TableOption, MultipleStepProgressTabOption>

@{
    ViewData["dir"] = "ltr";
}

@section scripts
{
    <script>
        $(document)
            .ready(function() {
                loadDataTables('@Model.Item1.Id', @Model.Item1.DisplayRowsLength,
                [@string.Join(", ", Model.Item1.CurrencyColumns)]);
            });

        function sendCertificateCommand() {
            var url = '@Url.Action("CountingWarehouseFinalAccept", "Warehouse")';
            // web api post method name: CountingWarehouseFinalAccept
            postAsync(url,
            { 'countingSerialNo': '@ViewBag.Serial' },
                function() {
                    setTimeout(function() { window.location.href = "@Url.Action("Warehouse", "Warehouse")"; }, 5000);
                });
        }
    </script>
}

@Html.MultipleStepProgressTab(Model.Item2)


<h2 dir="rtl">@ViewBag.Title @ViewBag.Serial</h2>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = Model.Item1.Id + "_" + Guid.NewGuid(),
                    Body = Html.TableItem(Model.Item1).ToHtmlString(),
                    Title = "لیست شمارش ثبتی کالاهای انبار",
                    HasDetailLink = false,
                    GlyphIcon = "sort-by-order",
                    HasSettingPanel = false,
                    PanelType = DataStyleType.primary
                })
            )
            <!-- /data -->
        </div>

        <br />
        <br />
        <input type="hidden" id="serial" name="serial" value="@ViewBag.Serial" />
        <input type="hidden" id="countingRows" name="countingRows" />

        <div class='text-right' style='padding-right: 10px; padding-bottom: 10px;'>
            <a class='btn btn-warning' href="@Url.Action("FillCountingWarehouseDetails", "Warehouse", new { serial = ViewBag.Serial })">
                <span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;ویرایش شمارش
            </a>
            <a class='btn btn-success' href="#" onclick='sendCertificateCommand()'>
                ثبت بدون بازگشت شمارش انبار&nbsp;<span class='glyphicon glyphicon-circle-arrow-right'></span>
            </a>
        </div>
    </div>
</div>