@using WebSaleDistribute.Models

@{
    string dir = ViewData["dir"]?.ToString() ?? "rtl";
}

<!DOCTYPE html>
<html class="background-image">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - شونیز</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/images/favicon.ico")" />
    <!--[if IE]>
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" type="image/vnd.microsoft.icon" />
    <![endif]-->


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand nav" style="width: 110px;" alt="shoniz logo" src="@Url.Content("~/images/bwShonizFa.png")" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="dropdown-toggle navbar-brand nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">گزارشات آنلاین <span class="caret"></span></a>
                <ul class="dropdown-menu ">
                    <li>@Html.ActionLink("خانه", "Index", "Home")</li>
                    <li role="separator" class="divider"></li>
                    @Html.Partial("_MenuPartial", DynamicModels.GetMenus())
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <!-- loader link: http://preloaders.net/en/circular/spin-and-pulsate/ -->
                            <img id="loading" class="status" src="@Url.Content("~/images/loading.gif")" alt="Spin and pulsate 32 pixels wide" style="position: absolute;"/>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
               
                @if (Request.IsAuthenticated)
                {
                    @Html.Action("GetEmployeeType", "Home");
                }
            </div>
        </div>
    </div>
    <div class="container body-content" dir='@dir'>
        @RenderBody()
        <hr />
        <footer>
            <p dir="ltr">&copy; @DateTime.Now.Year - Shoniz.co</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery_ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery_unobtrusive")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/site")

</body>
</html>
