@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@section topScripts
{
    @Scripts.Render("~/bundles/highcharts")
}



<br />

<div class="container">
    <ul class="nav nav-pills">
        <li style="font-size: 30px; float: right;">@ViewBag.Title</li>
        <li class="active"><a data-toggle="pill" href="#chart"> <span class="glyphicon glyphicon-stats"></span> نمودار</a></li>
    </ul>
    <br />
    @using (Html.BeginForm("CustomersOrders", "Reports", FormMethod.Post, new { id = "fromShowOrder" }))
    {
        <div class="container row">
            <div class="col-md-6">@Html.PersianFromToDatePickerItem("orderFromDate", "orderToDate", false, DataPlacement.Bottom)</div>
            <input type="button" class="btn btn-success col-md-3" onclick="submitForm()" value="بروز رسانی" />

            <input type="hidden" id="orderFromDateInput" name="fromDate" />
            <input type="hidden" id="orderToDateInput" name="toDate" />
        </div>
    }
    <div class="tab-content">
        <div class="tab-pane fade in active" dir="ltr">
            <!-- data -->
            <br />
            @Html.Action("CustomersOrdersChart", "Reports", new { fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate })
            <!-- /data -->
        </div>
    </div>

</div>

<script>
    $("#orderFromDate").val("@ViewBag.FromDate.Replace("-", "/")");
    $("#orderToDate").val("@ViewBag.ToDate.Replace("-", "/")");

    function submitForm() {
        $('#orderFromDateInput').val(GetDateTime("orderFromDate"));
        $('#orderToDateInput').val(GetDateTime("orderToDate"));
        $("#fromShowOrder").submit();
    }
</script>