@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<TableOption, TableOption>

@{
    ViewData["dir"] = "ltr";
}


@section scripts
{
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables('@Model.Item1.Id', @Model.Item1.DisplayRowsLength, [@string.Join(", ", Model.Item1.CurrencyColumns)]);
            loadDataTables('@Model.Item2.Id', @Model.Item2.DisplayRowsLength, [@string.Join(", ", Model.Item2.CurrencyColumns)]);
        })
    </script>
}

<br />

<h2 dir="rtl">@ViewBag.Title @ViewBag.InvoiceSerial</h2>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = "aleableDetails_" + Guid.NewGuid().ToString(),
                    Body = Html.TableItem(Model.Item1).ToHtmlString(),
                    Title = $"قابل فروش",
                    HasDetailLink = false,
                    GlyphIcon = "list-alt",
                    HasSettingPanel = false,
                    PanelType = PanelType.success
                })
            )
            <!-- /data -->
        </div>

        <hr />

        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = "unaleableDetails_" + Guid.NewGuid().ToString(),
                    Body = Html.TableItem(Model.Item2).ToHtmlString(),
                    Title = $"غیر قابل فروش",
                    HasDetailLink = false,
                    GlyphIcon = "list-alt",
                    HasSettingPanel = false,
                    PanelType = PanelType.warning
                })
            )
            <!-- /data -->
        </div>

        <br />
        <br />


        <div class='text-right' style='padding-right: 10px; padding-bottom: 10px;'>
            <a class='btn btn-warning' href="@Url.Action("ChooseReturnedInvoiceDetails", "Warehouse", new { invoiceSerial = @ViewBag.InvoiceSerial })">
                <span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;برگشت به مرحله قبل
            </a>
            <a class='btn btn-success' href="@Url.Action("ChooseReturnedInvoiceDetails", "Warehouse", new { invoiceSerial = @ViewBag.InvoiceSerial })">
            ثبت در انبار برگشتی&nbsp;<span class='glyphicon glyphicon-circle-arrow-right'></span>
            </a>
        </div>

    </div>
</div>
