@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<TableOption, TableOption>

@{
    ViewData["dir"] = "ltr";
}

@section scripts
{
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables('@Model.Item1.Id', @Model.Item1.DisplayRowsLength, [@string.Join(", ", Model.Item1.CurrencyColumns)]);
            loadDataTables('@Model.Item2.Id', @Model.Item2.DisplayRowsLength, [@string.Join(", ", Model.Item2.CurrencyColumns)]);
        })
    </script>
}

<br />

<h2 dir="rtl">@ViewBag.Title @ViewBag.InvoiceSerial</h2>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = "aleableDetails_" + Guid.NewGuid().ToString(),
                    Body = Html.TableItem(Model.Item1).ToHtmlString(),
                    Title = $"قابل فروش",
                    HasDetailLink = false,
                    GlyphIcon = "list-alt",
                    HasSettingPanel = false,
                    PanelType = DataStyleType.success
                })
            )
            <!-- /data -->
        </div>

        <hr />

        <div class="tab-pane fade in active">
            <!-- data -->
            <br />

            @(
                Html.PanelItem(new PanelItemOption()
                {
                    Id = "unaleableDetails_" + Guid.NewGuid().ToString(),
                    Body = Html.TableItem(Model.Item2).ToHtmlString(),
                    Title = $"غیر قابل فروش",
                    HasDetailLink = false,
                    GlyphIcon = "list-alt",
                    HasSettingPanel = false,
                    PanelType = DataStyleType.warning
                })
            )
            <!-- /data -->
        </div>

        <br />
        <br />


        <div class='text-right' style='padding-right: 10px; padding-bottom: 10px;'>
            <a class='btn btn-warning' href="@Url.Action("ChooseReturnedInvoiceDetails", "Warehouse", new { invoiceSerial = @ViewBag.InvoiceSerial })">
                <span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;برگشت به مرحله قبل
            </a>
            <a class='btn btn-success' href="#" onclick='storeSelectedValues()'>
                ثبت در انبار برگشتی&nbsp;<span class='glyphicon glyphicon-circle-arrow-right'></span>
            </a>
        </div>

    </div>
</div>

<script>
    function storeSelectedValues()
    {
        var unSaleableList = getTableAllData("unsaleable");
        for(var i=0;i< unSaleableList.length; i++)
        {
            for(var c=0;c<unSaleableList[i].length;c++)
            {
                if(unSaleableList[i][c] === undefined) // c is reason column
                {
                    toastr.warning("علت برگشتی ردیف " + (i+1) + " را انتخاب کنید!", "عدم @ViewBag.Title", {timeOut: 5000});
                    return;
                }
            }
        }

        var invoiceBusinessDocSerialNo = @ViewBag.InvoiceSerial;

        var saleableList = [@string.Join(",", ViewBag.SaleableRows)];

        var url = '@Url.Action("StoreReturnedInovicesInWarehouse", "Warehouse")'; 
        postAsync(url, { 'invoiceSerialNo':invoiceBusinessDocSerialNo, 'saleableRows':saleableList, 'unsaleableList':unSaleableList });

        //window.location.href = "../Index";
    }
</script>