@using WebSaleDistribute.Core

@model MultipleStepProgressTabOption

@{
    ViewData["dir"] = "ltr";
}

@section scripts
{
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables('saleReturnInvoices', -1, [6]);

            $("#goToCertificationInvoice").click(function () {
                location.href = "@Url.Content($"~/Warehouse/CertificationSelectedReturnedInvoiceDetails/?invoiceSerial={ViewBag.InvoiceSerial}")" + "&rows=" + getTableSelectedRows();
            });
        })
    </script>
}


@Html.MultipleStepProgressTab(Model)


<h2 dir="rtl">@ViewBag.Title</h2>

<div class="container">
    <div class="tab-content">
        <div id="grid" class="tab-pane fade in active">
            <!-- data -->
            <br />
            @Html.Action("ChooseReturnedInvoiceDetailsTable", "Warehouse", new { invoiceSerial = ViewBag.InvoiceSerial })
            <!-- /data -->
        </div>
    </div>
</div>

<br />
<br />

<div class='text-right' style='padding-right: 10px; padding-bottom: 10px;'>
    <a class='btn btn-warning' href="@Url.Action("SaleReturnInvoices", "Warehouse")">
        <span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;برگشت به مرحله قبل
    </a>
    <a id="goToCertificationInvoice" class='btn btn-success'>
        تایید اقلام برگشتی انتخابی&nbsp;<span class='glyphicon glyphicon-circle-arrow-right'></span>
    </a>
</div>