
@{
    ViewData["dir"] = "ltr";
}

@section styles
{
    @Styles.Render("~/Content/lobipanel")
    @Styles.Render("~/Content/jquery_dataTables")
}

@section scripts
{
    @Scripts.Render("~/bundles/lobipanel")
    @Scripts.Render("~/bundles/jquery_dataTables")
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables(10);
        })
    </script>
}

<br />

<h2 dir="rtl">@ViewBag.Title</h2>

<div class="container">
    <div class="tab-content">
        <div id="grid" class="tab-pane fade in active">
            <!-- data -->
            <br />
            @Html.Action("SaleReturnInvoicesTable", "Warehouse", new { invoiceId = ViewBag.QrCode })
            <!-- /data -->
        </div>
    </div>
</div>
